.container-flex {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #615a57;
    justify-content: center;
}

.container-flex-header-content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #efefef;
}

html,
body {
    margin: 0;
}

.container-flex-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    color: #EFEFEF;
}

.menu-flex {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 0;
    margin: 0px;
    list-style: none;
    align-items: center;
}

.menu-link {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.log-in {
    display: flex;
    width: 15%;
    justify-content: end;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
}

.header-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 5px 0 5px 0;
}

.header-row-twise {
    display: flex;
    padding: 5px 0 5px 0;
    justify-content: space-between;
}

select {
    border: 0;
}

.flex-container {
    display: flex;
}

.select-flex {
    display: flex;
    flex-direction: column;
    width: 30%;
}

img {
    height: 35px;
}

.menu-flex li a {
    color: #EFEFEF;
}

.log-in label {
    color: #EFEFEF;
}

.header-row-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    align-items: center;
}

#img-lodo-2 {
    height: 100px;
}

#search {
    width: 70%;
}

.search-container {
    height: 50px;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.search {
    border: none;
    border-radius: 50px;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    /*Убираем повтор изображения*/
    background-position: bottom 50% right 3%;
    background-size: 40px;
    /*Позиционируем*/
    margin-right: 5%;
    height: 100%;
}

.img-container {
    height: 50px;
    justify-content: space-between;
    width: 10%;
}

.btn-goods {
    width: 15%;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    height: 50%;
    color: #EFEFEF;
    background-color: #f79e78;
    padding: 0;
}

.select-flex label {
    text-decoration: none;
    color: #f79e78;
}

.select-flex a {
    text-decoration: none;
}

.container-flex-catalog {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #efefef;
}

.header-row-catalog {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    align-items: center;
}

.menu-flex-catalog {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0px;
    list-style: none;
    align-items: center;
}

.flex-container-li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.flex-container-li img {
    margin-right: 15px;
}

.menu-flex-catalog li a {
    color: black;
}

.container-flex-content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
    justify-content: center;
}

.flex-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    color: #EFEFEF;
}

.main-content-left {
    width: 65%;
    height: 100%;
    margin-right: 1%;
}

.content {
    margin-top: 3%;
    display: flex;
    height: 100%;
}

.content-right {
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 100%;
}

.content-right img {
    width: 100%;
    height: 100%;
}

.content-right-first {
    margin-bottom: 1%;
}

.container-flex-footer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fdfdfd;
    justify-content: center;
}

.flex-footer {
    display: flex;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    color: #EFEFEF;
    justify-content: space-between;
}

.flex-element {
    width: 20%;
    color: black;
    margin: 5% 0;
}

.div-title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

.div-text {
    text-align: center;
}

.div-img {
    text-align: center;
}

.div-img img {
    width: 100px;
    height: 100px;
}

@media all and (max-device-width:800px) {
    .header-row {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 5px 0 5px 0;
    }
    .menu-flex {
        width: 100%;
        padding: 0;
        margin: 0px;
        list-style: none;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap
    }
    .log-in {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .header-row-content {
        flex-direction: column;
        align-items: center;
    }
    #img-lodo-2 {
        display: none;
    }
    .search-container {
        height: 50%;
        width: 100%;
        flex-direction: column;
    }
    .search {
        background-position: bottom 50% right 7%;
        background-size: 20px;
        margin-right: 0;
    }
    .select-flex {
        width: 50%;
        padding-top: 3%;
        margin-bottom: 3%;
    }
    .img-container {
        justify-content: space-around;
        width: 100%;
    }
    .btn-goods {
        width: 100%;
        font-size: 20px;
        height: 100%;
        margin-top: 3%;
    }
    .menu-flex-catalog {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .flex-container-li img {
        margin-right: 0;
        display: none;
    }
    .content {
        flex-direction: column;
    }
    .main-content-left {
        width: 100%;
        margin-right: 0;
    }
    .content-right {
        width: 100%;
    }
    .flex-footer {
        display: flex;
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: column;
    }
}

.flex-element {
    width: 100%;
    color: black;
    margin: 5% 0;
}