body,
html {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.grid-header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: #615a57;
}

.grid-header-content-catalog {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: #efefef;
}

.menu-link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;
    justify-items: center;
}

.menu-grid>li>a {
    color: #EFEFEF;
}

.menu-grid>li:first-child {
    justify-self: start;
}

.menu-grid>li:last-child {
    justify-self: end;
}

.grid-header-menu {
    display: grid;
    grid-template-columns: 8fr 2fr;
    margin: 10px 0 10px 0;
}

.log-in {
    justify-self: end;
    font-size: 18px;
    text-decoration: none;
    justify-items: right;
    color: #EFEFEF;
}

.grid-header-content {
    display: grid;
    grid-template-columns: 1.5fr 4.5fr 2fr 2fr;
}

.grid-header-content .search {
    justify-items: center;
}

.search {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search input {
    width: 100%;
    height: 50px;
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 50px;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    /*Убираем повтор изображения*/
    background-position: bottom 50% right 3%;
    background-size: 40px;
    /*Позиционируем*/
}

.grid-header-content img {
    height: 30px;
    align-self: center;
    justify-self: left;
}

#img-lodo-2 {
    height: 80px;
}

.phone {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.phone>a {
    text-decoration: none;
    font-size: 18px;
    color: #f79e78;
}

.header-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header-image a {
    align-self: center;
    justify-self: center;
}

.header-image>a:nth-child(1) {
    align-self: center;
    justify-self: right;
}

.header-image>a:last-child {
    align-self: center;
    justify-self: left;
}

#btn-goods {
    width: 80%;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    height: 50px;
    color: #EFEFEF;
    background-color: #f79e78;
    align-self: center;
    justify-self: right;
}

.menu-grid-catalog {
    display: grid;
    list-style: none;
    grid-template-columns: 50px repeat(6, 1fr);
    padding: 0;
}

.menu-grid-catalog>li {
    align-self: center;
    justify-self: center;
}

.menu-grid-catalog>li>a {
    color: black;
}

.menu-grid-catalog>li:nth-child(1),
.menu-grid-catalog>li:nth-child(2) {
    justify-self: left;
}

.menu-grid-catalog>li:last-child {
    justify-self: right;
}

.container-grid-content {
    display: grid;
    grid-template-columns: 6fr 3fr;
}

.container-grid-content img {
    width: 99%;
}

.content-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.content-right>img {
    align-self: center;
    justify-self: end;
}

.grid-container-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-element {
    margin-top: 30px;
    align-self: center;
    justify-self: center;
}

.grid-element img {
    height: 100px;
    width: 100px;
}

.div-title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

.div-text {
    text-align: center;
}

.div-img {
    text-align: center;
}

@media all and (max-device-width:800px) {
    .grid-header {
        grid-template-columns: 1fr;
        grid-template-rows: 1px 1fr 1px;
    }
    .grid-header-menu {
        grid-template-columns: 1fr;
        grid-template-rows: 6fr 1fr;
        margin: 0;
        padding: 0;
    }
    .menu-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        list-style: none;
        justify-self: center;
        justify-self: center;
    }
    .menu-grid>li:first-child {
        justify-self: center;
    }
    .menu-grid>li:last-child {
        justify-self: center;
    }
    .log-in {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        font-size: 20px;
        text-decoration: none;
        justify-self: center;
        justify-self: center;
        color: #EFEFEF;
    }
    .grid-header-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .grid-header-content-catalog {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1px 1fr 1px;
        background-color: #efefef;
    }
    #img-lodo-2 {
        display: none;
    }
    .search {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    .phone>a {
        align-self: center;
        justify-self: center;
    }
    .header-image>a>img {
        height: 50px;
    }
    #btn-goods {
        width: 60%;
        font-size: 16px;
        border: none;
        border-radius: 50px;
        height: 50px;
        color: #EFEFEF;
        background-color: #f79e78;
        align-self: center;
        justify-self: center;
    }
    .menu-grid-catalog {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        padding: 0;
        margin: 0;
    }
    .menu-grid-catalog img {
        display: none;
    }
    .menu-grid-catalog>li:nth-child(1),
    .menu-grid-catalog>li:nth-child(2) {
        justify-self: center;
    }
    .menu-grid-catalog>li:nth-child(1) {
        display: none;
    }
    .menu-grid-catalog>li:last-child {
        justify-self: center;
    }
    .menu-grid-catalog>li>a {
        font-size: 24px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1px 1fr 1px;
    }
    .container-grid-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .main-content-left {
        width: 98%;
    }
    .grid-container-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .grid-element {
        margin-top: 30px;
        align-self: center;
        justify-self: center;
    }
    .grid-element img {
        height: 200px;
        width: 200px;
    }
    .div-title {
        font-weight: bold;
        text-align: center;
        font-size: 32px;
        margin: 10px 0;
    }
    .div-text {
        font-size: 26px;
    }
}