body,
html {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.menu-link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;
    justify-items: center;
}

.menu-grid>li:first-child {
    justify-self: start;
}

.menu-grid>li:last-child {
    justify-self: end;
}

.grid-header-menu {
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.log-in {
    justify-self: end;
    font-size: 18px;
    text-decoration: none;
    justify-items: right;
}

.grid-header-content {
    display: grid;
    grid-template-columns: 1.5fr 4.5fr 2fr 2fr;
}

.grid-header-content .search {
    justify-items: center;
}

.search {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search input {
    width: 100%;
    height: 50px;
    justify-self: center;
    align-self: center;
}

.grid-header-content img {
    height: 30px;
    align-self: center;
    justify-self: left;
}

#img-lodo-2 {
    height: 80px;
}

.phone {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.phone>a {
    text-decoration: none;
    font-size: 18px;
}

.header-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header-image a {
    align-self: center;
    justify-self: center;
}

.menu-grid-catalog {
    display: grid;
    list-style: none;
    grid-template-columns: 50px repeat(6, 1fr);
    padding: 0;
}

.menu-grid-catalog>li {
    align-self: center;
    justify-self: center;
}

.menu-grid-catalog>li:nth-child(1),
.menu-grid-catalog>li:nth-child(2) {
    justify-self: left;
}

.menu-grid-catalog>li:last-child {
    justify-self: right;
}

.grid-content {
    display: grid;
}

.container-grid-content {
    display: grid;
    grid-template-columns: 6fr 3fr;
}

.container-grid-content img {
    width: 99%;
}

.content-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.content-right>img {
    align-self: center;
    justify-self: end;
}

.grid-container-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-element {
    margin-top: 30px;
    align-self: center;
    justify-self: center;
}

.grid-element img {
    height: 100px;
}