body,
html {
    margin: 0px;
    padding: 0px;
}

#to_do,
#in_progress,
#finished {
    min-height: 200px;
    float: left;
    width: 25%;
    border: 1px solid #333;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

div {
    text-decoration: none;
    color: yellow;
    background-color: seagreen;
    padding: 5px;
    /*display: block;*/
    border-radius: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    min-height: 40px;
}

.node {
    border: 1px solid #333;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: blue;
}

.dragElement {
    opacity: 0.2;
}

.under {
    opacity: 0.7;
    background-color: brown;
}

.temp {
    opacity: 0.5;
    background-color: gray;
}